.center{
    margin: auto;
    width:80%;
    border: 3px solid #73AD21;
    padding: 10px;
}
h1{
    width:50rem auto;
    height: 2.6rem auto;
    display: flex;
    justify-content: center;
    background-color: lightgreen;
    border-radius:4px;
}
h2{
    padding-top: 1vh;
    width:50rem auto;
    height: 2.6rem auto;
    display: flex;
    justify-content: center;
    color: white;
    background-color: #03A9F4;
    border-radius:4px;
}
h3{
    width:40rem auto;
    text-align: center;
}
.tweet{
    width:auto;
    position:relative;
}
.image{
    width:auto;
    position:relative;
}
.insta{
    width:auto;
    position:relative;
}
#photo{
    color: #000;
    background-color: #F8E13A;
}
#instahead{
    color: white;
    background-image: linear-gradient(to right, #FFB701,#FF2C45,#CD00B6,#A62EB2,#4F58C6);
}
#map{
    color: rgb(83, 83, 83);
    width:45vw auto;
    background-color:lightgreen;
}
.song{
    width:auto; 
    position:relative;
}
blockquote{
    width:100%;
}